Repository prog-g/dcc-report, pull requests merged in 2019-12, with the labels that each got.

#14 Fix dependencies
  package.json
  yarn.lock
Labels: bug, yarn upgrade

#11 曲線の関数実装
  src/declares.d.ts
  src/lib.ts
Labels: enhancement

#15 src/lib.ts を分割する
  src/App.tsx
  src/Note.tsx
  src/Timeline.tsx
  src/lib/graph.ts
  src/lib/note.ts
  src/lib/util.ts
Labels: refactor

#17 update vscode settings fot vscode-eslint@2.x
  .vscode/settings.json
  package.json
  yarn.lock
Labels: yarn upgrade
