Repository prog-g/dcc-report, pull requests merged in 2020-03, with the labels that each got.

#21 コンポーネント名や型名を変更する
  src/App.tsx
  src/Graph.tsx
  src/Note.tsx
  src/NoteList.tsx
  src/declares.d.ts
Labels: refactor

#26 Set stylelint
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  yarn.lock
Labels: enhancement, yarn upgrade

#22 NoteList まわりをリファクタする
  src/App.tsx
  src/Note.tsx
  src/NoteList.tsx
  src/lib/canvas.ts
  src/lib/note.ts
Labels: refactor

#27 ユーザーマニュアルのページを追加する
  gh-pages/_config.yml
  gh-pages/manual/index.md
  package.json
  webpack.config.js
  yarn.lock
Labels: enhancement, yarn upgrade

#28 Change title
  gh-pages/_config.yml
  webpack.config.js
Labels: refactor

#18 プロトタイプ段階のスタイルをつける
  src/App.tsx
  src/Graph.tsx
  src/Note.tsx
  src/NoteList.tsx
  src/index.ejs
  src/index.tsx
  src/lib/canvas.ts
  src/style.css
Labels: CSS, enhancement

#29 グラフボーターの接着の改善 Margin -2px 0 0
  src/style.css
Labels: CSS
