Repository prog-g/dcc-report, pull requests merged in 2020-04, with the labels that each got.

#23 textareaが自動で伸縮するようにする
  src/Note.tsx
  src/lib/note.ts
  src/style.css
Labels: CSS, enhancement

#30 textarea で placeholder を使う
  src/Note.tsx
Labels: enhancement

#31 スタイルの更新
  src/style.css
Labels: CSS, enhancement

#32 ボタンにスタイルをつける
  src/style.css
Labels: CSS

#33 Fix inline space
  src/style.css
Labels: CSS, fix

#34 webpack や stylelint の設定の更新
  .stylelintrc.json
  src/Note.tsx
  webpack.config.js
Labels: refactor

#36 READMEに環境構築の手順などを書く
  README.md
Labels: doc

#37 ページを閉じようとしたときにアラートを出す
  src/index.tsx
Labels: enhancement

#42 依存ライブラリと設定ファイルの更新
  .eslintignore
  .eslintrc.json
  .stylelintrc.js
  .stylelintrc.json
  package.json
  src/style.css
  webpack.config.js
  yarn.lock
Labels: refactor, yarn upgrade

#41 `noteColor` の実装ミスの修正
  src/lib/note.ts
Labels: fix
